.headerCont
{
    background-color: #6582f8;
    width: 100%;
    height: 50px;
    border-radius: 0 0 25px 25px;
    color: #fff;
    overflow: hidden;
    margin-bottom: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}
.monthsContainer
{
    width: max-content;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.monthItem
{
    padding: 0 10px;
}